/* Style the .data container (display: none by default) */
.data {
    display: none;
}

/* Style the .g-signin container */
.g-signin2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px; /* Adjust as needed */
    margin-left: -50px; /* Adjust as needed */
}
